<table class="table">
  <thead>
    <tr>
      <th scope="col">image</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col">compra</th>
    </tr>
  </thead>
  <tbody>
    @for (image of images; track image.name) {
      <tr [ngClass]="{'clearance': image.clearance}">
        <td><img width="200" class="img-thumbnail" [src]="image.img" [alt]="image.name"></td>
        <td>{{image.name}}</td>
        <td>{{image.type}}</td>
        <td>{{image.price |currency}}</td>
        @if (image.stock > 0) {
          <td>{{image.stock}}</td>
        }@else {
          <td><span class="badge bg-warning text-dark">SIN STOCK</span></td>
        }
        <td>
          <app-input-number [quantity]="image.quantity" [max]="image.stock"></app-input-number>
        </td>
      </tr>
    }@empty {
      <tr>
        <td colspan="4">No hay fondos para mostrar.</td>
      </tr>
    }

  </tbody>
</table>
