<div class="cart-card">

    <h3 class="cart-title">
         Shopping Cart
    </h3>

    @if (carList.length === 0) {

        <div class="empty-cart">

            Still no treasures in your ship

        </div>

    } @else {

        <ul class="cart-list">

            @for (image of carList; track image.name) {

                <li class="cart-item">

                    <img
                        class="cart-image"
                        [src]="image.img"
                        [alt]="image.name">

                    <div class="cart-info">

                        <h6>{{ image.name }}</h6>

                        <span class="quantity-badge">
                            x{{ image.quantity }}
                        </span>

                    </div>

                </li>

            }

        </ul>

    }

</div>

